@import '../../build/scss/index.scss';

// Questa font faces
@font-face {
  font-family: #{$fonts-font-family-primary};
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Questa_Regular.otf') format('opentype');
}

@font-face {
  font-family: #{$fonts-font-family-primary};
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Questa_Regular_Italic.otf') format('opentype');
}

@font-face {
  font-family: #{$fonts-font-family-primary};
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Questa_Medium.otf') format('opentype');
}

@font-face {
  font-family: #{$fonts-font-family-primary};
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Questa_Medium_Italic.otf') format('opentype');
}

// Lexend font faces
@font-face {
  font-family: #{$fonts-font-family-secondary};
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Lexend-Regular.ttf') format('truetype');
}

@font-face {
  font-family: #{$fonts-font-family-secondary};
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Lexend-Medium.ttf') format('truetype');
}

@font-face {
  font-family: #{$fonts-font-family-secondary};
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Lexend-Bold.ttf') format('truetype');
}
